<h1 align="center">Welcome to MessageMe - <em>a complete Chat App</em></h1>

<h4 class="ui center aligned medium icon header">
  <i class="red circular power off icon"></i>
  Log in to continue
</h4>

<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <%= form_for(:session, html: {class: "ui form", role: "form"}, url: login_path) do |f| %>

      <%#= render "shared/errors", obj: @session %>

        <div class="ui form">
          <div class="field">
            <label>Username</label>
            <div class="ui left icon input">
              <%= f.text_field :username, placeholder: "Username" %>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
              <i class="lock icon"></i>
            </div>
          </div>
          <%= f.button "Login", class: "ui red submit button" %>
        </div>
      <% end %>

    </div>
    <div class="middle aligned column">
      <div class="ui big button">
        <i class="signup icon"></i>
        Sign Up
      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>
