<!DOCTYPE html>
<html>
  <head>
    <title>MessageMe</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="ui small inverted menu">
      <div class="ui container">
        <%= render "layouts/nav" %>
      </div>
    </div>

    <div class="ui container">
      <%= render "layouts/messages" %>
      <%= yield %>
    </div>

  </body>
</html>
